<li id="comment-<%= comment._id %>">
  <p>
    <% if(locals.user && locals.user.id == comment.user.id) { %>
    <small>
      <a
        class="delete-comment-button"
        href="/comments/destroy/<%= comment._id %>"
        >X</a
      >
    </small>
    <% } %> <%= comment.content %>
    <br />
    <small>
      <a
        class="like-comment-button"
        href="/likes/toggle/?id=<%= comment._id %>&type=Comment"
        ><i class="fa-solid fa-thumbs-up"></i></a
      >&ensp;<span id="comment-like-count-<%= comment._id %>"
        ><%= comment.likes.length %></span
      >&ensp;<%= comment.user.name %>
    </small>
  </p>
</li>
