<link rel="stylesheet" href="/styles/profile.css" />
<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100" />

<% if(profileUser.id == user.id) { %>
<form
  method="POST"
  action="/users/update/<%= profileUser._id %>"
  enctype="multipart/form-data"
>
  <input
    type="text"
    name="name"
    placeholder="Your Name"
    value="<%= profileUser.name %>"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Your Email"
    value="<%= profileUser.email %>"
    required
  />
  <input type="file" name="avatar" placeholder="Profile Picture" />
  <input type="submit" value="Update" />
</form>

<% } else { %>

<p>Name : <%= profileUser.name %></p>
<p>Email : <%= profileUser.email %></p>
<% } %>
